
div{
    height: 200px;
    width: 800px;
}
.orange{
    /* width: 800px;
    height: 200px; */
    background-color: orange;
}
.white{
    /* width:800px;
    height: 200px; */
    color: white;
}
.green{
    /* width: 800px;
    height: 200px; */
    background-color: green;
}